body {
  background-color: rgb(235, 210, 210);
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.contact-form label {
  margin-bottom: 8px;
  font-weight: bold;
  border-radius: 12px;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 100%;
  box-sizing: border-box;
}

label {
  color: black;
}

.contact-form textarea {
  height: 200px;
}

.contact-form button {
  padding: 10px 20px;
  border: none;
  background-color: #465be1;
  color: rgb(255, 255, 255);
  cursor: pointer;
  align-items: center;
  width: 50%;
  align-self: self-end;
  border: 2px solid black;
  border-radius: 10px;
}

.contact-form button:hover {
  background-color: #192d9c;
}

@media (max-width: 768px) {
  .contact-form {
    padding: 10px;
  }

  .contact-form label {
    font-size: 16px;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 8px;
  }

  .contact-form button {
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .contact-form label {
    font-size: 14px;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 14px;
  }

  .contact-form button {
    padding: 6px 12px;
  }
}
