* {
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(235, 210, 210);
  margin-bottom: 24px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.contact-form label {
  margin-bottom: 8px;
  font-weight: bold;
  border-radius: 12px;
  color: black;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.contact-form textarea {
  height: 200px;
}

.contact-form button {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #eef1f3;
  color: rgb(10, 1, 1);
  cursor: pointer;
  align-items: center;
  width: 60%;
  align-self: self-end;
}

.contact-form button:hover {
  background-color: #199c19;
}

@media (max-width: 768px) {
  .contact-form {
    padding: 10px;
  }

  .contact-form label {
    font-size: 16px;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 8px;
  }

  .contact-form button {
    padding: 8px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .contact-form label {
    font-size: 14px;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 14px;
  }

  .contact-form button {
    padding: 8px;
    font-size: 14px;
  }
}
